:root{
    --background: #c3c0ba;
    --white: #fff;
    --one: #842119;
    --two: #87ae7a;
    --three: #402c24;
    --four: #fbcc49;
    --black: #54585d;
    --process: #a5a5a5;
}

*{margin: 0px; 
    padding: 0px; 
    box-sizing: border-box; 
    font-family: system-ui;
}

body{background: var(--background);}
.col-div-3{width: 25%; float: left;}
.col-div-7{width: 75%; float: left;}
.col-div-4{width: 35%; float: left;}
.col-div-8{width: 65%; float: left;}
.col-div-6{width: 50%; float: left;}


.resume-main{width: 700px; height: 800px;
    background: linear-gradient(var(--one), var(--two)); 
    margin: 50px auto;
    box-shadow: 5px 5px 5px 5px #54585d33;
}

.left-box{
    width: 35%; 
    float: left; 
    height: 800px;
}
.right-box{
    width: 65%; 
    float: left; 
    background-color: var(--white); 
    height: 800px;
    box-shadow: -7px 2px 15px 2px #54585d52;
}

.profile{
    width: 150px; 
    height: 150px; 
    border: 3px solid var(--white); 
    padding: 7px; 
    border-radius: 50%; 
    margin: 20px auto;
}

.profile img{
    width: 100%; 
    border-radius: 50%;
}

.content-box{
    padding: 0px 40px 0px 45px;
}

.content-box h2{
    text-transform: uppercase; 
    font-weight: 500; 
    color: var(--white);
    letter-spacing: 1px; 
    font-size: 20px;
}

.hr1{
    border: none; 
    height: 1px; 
    background: var(--white); 
    margin-top: 3px;
}

.p1{
    font-size: 11px; 
    color: var(--white); 
    letter-spacing: 1px; 
    padding-top: 10px;
}

#progress{background: var(--process); border-radius: 13px; height: 8px; width: 100%;}

#progress::after{content: ''; display: block; background: var(--white); width: 100%; height: 100%; 
    border-radius: 9px;}

#progress1{background: var(--process); border-radius: 13px; height: 8px; width: 100%;}

#progress1::after{content: ''; display: block; background: var(--white); width: 85%; height: 100%; 
    border-radius: 9px;}

#progress2{background: var(--process); border-radius: 13px; height: 8px; width: 100%;}

#progress2::after{content: ''; display: block; background: var(--white); width: 10%; height: 100%;
    border-radius: 9px;}

.content-box h3{
    font-size: 13px; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    padding-top: 10px;
    color: white; 
    font-weight: 500;
}
.p2{
    font-size: 13px; 
    margin-bottom: 5px; 
    margin-top: 5px; 
    color: var(--white);
}

h1 title{
    font-size: 50px; 
    text-transform: uppercase; 
    color: var(--black); 
    line-height: 50px;
}
h1 span{color: var(--one);}

.intro{
    text-align: center;
    margin-bottom: .8rem;
}
.intro h1{
    font-size: 40px;
    font-weight: bold;
    color: var(--one);
    margin-top: 10%;
}
.hr{
    height: 15px;
    border: none;
    background-color: var(--two);
    margin: -15px 20px;
}
.intro-p{
    color: var(--three);
    font-family: system-ui;
    font-weight: 400;
    font-size: 15px;
    margin-top: 7%!important;
}

.intro p{
    color: var(--three);
    font-family: system-ui;
    font-weight: 400;
    font-size: 15px;
    margin-top: -5px;
}

.content-2{
    padding-top: 15px;
    padding-left: 8.5%;
}

.head{
    color: var(--one);
    font-family: system-ui;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0px;
}

.para-1{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--one);
    font-weight: 400;
    margin: 5px 0px;
    margin-top: 5px;
}

.para-2{
    font-size: 14px;
    color: var(--three);
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
}

.link{
    color: var(--white);
    text-decoration: none;
}

.link:hover{
    color: var(--one);
}

.link2{
    color: var(--three);
    text-decoration: none;
}

.link2:hover{
    color: var(--two);
}
